<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        .header {
            padding: 10px;
            background-color: #f7d736;
            margin-bottom: 20px;
            width: 100%;
        }

        .footer {
            padding: 10px;
            background-color: #f7f7f7;
            margin-top: 20px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="header">
        <img src="http://www.kingwilder.com/images/techwiz-logo.png" />
    </div>
    {{ > body }}
    <div class="footer">
        &copy;2020 Tech - All rights reserved.
    </div>
</body>
</html>